.container2 {
  color: #9B9B9B;
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

div.social {
  float: right;
}

div.social a {
  margin-left: 25px;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}
