table {
  width: 100%;
  box-shadow: none;
}

tbody {
  background-color: #F8F8F8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12) !important;
}

th.mat-header-cell {
  background: #fff;
}

th.mat-sort-header-sorted {
  color: black;
}
