<div class="container2">
  <div style="float: left;">Atlas Quantum @ {{ this.currentDate.getFullYear() }}. All rights reserved</div>

  <div class="social" style="float: right">
    <a href="https://www.facebook.com/AtlasQuantum/" target="_blank">
      <i class="icon-facebook"></i>
    </a>
    <a href="https://twitter.com/atlasquantumbr" target="_blank">
      <i class="icon-twitter"></i>
    </a>
    <a href="https://www.instagram.com/atlasquantum/" target="_blank">
      <i class="icon-insta"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCMaBkMLfXfkHxfZb2Ja29Yg" target="_blank">
      <i class="icon-youtube"></i>
    </a>
  </div>

  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
