<div class="teste" style="min-height: 85%">

  <div class="page-header">
    <div style="width: 50%; float: left">
      <app-title [title]="'Lucros'" [subtitle]="'Relatório de distribuição de lucros'"></app-title>
    </div>

    <div class="table-search-box" style="width: 50%; float: right">
      <div class="search-box">
        <input #searcher type="text" placeholder="Digite qualquer coisa da tabela">
        <div class="search-button">
          <i class="icon-search"></i>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div style="width: 100%">
    <app-card-content [title]="'Distribuição de lucro (último mês)'">
      <app-datatable [searcher]="searcher"></app-datatable>
    </app-card-content>
  </div>
</div>
